doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Fairy Gaming
    script(defer='' src='http://localhost:3000/socket.io/socket.io.js')
    script(defer='' src='/help.js')
    link(rel="icon" type="image/png" href="/pixie4.png")
link(rel="stylesheet" href="/chat.css")
body(onload="displayConvoUser()")
    .tab
        label Conversations
        button#defaultOpen.tablinks(onclick="openConvo(event, 'Everyone')") Everyone
        button.tablinks(onclick="openConvo(event, 'Other')") Other
    #Everyone.tabcontent
        h2 Everyone
        .box
            #messages
        form#msgForm(action='')
            input(type='text' name='msg')
            button Send
    #Other.tabcontent
        h2 Other
    script.
        function openConvo(evt, ConvoName) 
        {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(ConvoName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();