html(lang="en")
  head
    meta(charset="utf-8")
    title Fairy Games
    link(rel="icon" type="image/png" href="/pixie4.png")
    style.
      body{
      font-size: 50px;
      font-weight: 800;
      background-image: linear-gradient(rgb(180, 115, 201), rgb(242, 157, 114));
      margin: 0;
      padding: 0;
      margin-top: 10%;
      margin-left: 18%;
      font-family: "Manrope";
      }
      h1{
      color: #fff;
      margin-left: 11%;
      margin-top: -7%;
      text-shadow: 1px 1px 2px black, 0 0 9px darkblue, 0 0 4px darkblue;
      }
      button {
      font-size: 1.3rem;
      width: 200px;
      height: 60px;
      padding: 0.75rem 1.25rem;
      margin: 8px;
      font-weight: 600;
      }
      .tool{
      margin-left:20%;
      }
    link(rel="stylesheet" href="./connect4.css")
  body
    img(src='/pixie5.png' style='width: 450px; margin-top: -5%; margin-left: 20%;')
    h1 Fairy Games
    .tool
      button#login.button(class="button" style='cursor:pointer' onclick="location.href = 'login';") Login
      button#register.button(class="button" style='cursor:pointer' onclick="location.href = 'register';") Sign up
