doctype html
head
  meta(charset='utf-8')
  script(src='connect4.js')
  title Fairy Gaming
  link(rel="icon" type="image/png" href="/pixie4.png")
  style.
    label{
    font-size: 23px;
    }
    h1{
    font-size: 45px;
    margin-bottom: 16%;
    margin-left: 30%;
    color: #7558b6a8;
    }

    body{
    font-size: 23px;
    color: black;
    background-color: rgb(162 96 193 / 48%);;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7%;
    left: 38%;
    margin-right: -50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    }

    button {
    width: 150px;
    padding: 0.4rem 1.25rem;
    font-size: 1.3rem;
    height: 50px;
    margin: 4px;
    }

    input[type=text]{
    height:40px; 
    padding: 3px 20px; 
    width:300px; 
    border-radius: 2rem;
    border-color: transparent;
    font-size:75%;
    }
    .button {
    display: inline-block;
    border-radius: 10rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    letter-spacing: 0.14rem; 
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-color: transparent;
    border-width: 1px;
    }

    .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(161 91 188 / 83%);
    border-radius: 10rem;
    border-color: transparent;
    z-index: -2;
    }

    .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-color: transparent;
    height: 100%;
    background-color: #d66578;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
    }

    .button:hover {
    color: #fff;
    }
    .button:hover:before {
    width: 100%;
    }  

  title Fairy Gaming 

h2(style="font-style:bold") Register
h4 Please fill in this form to create an account.

form(action='/signUpUser' method="POST")

  label(for="username") 
    strong Create Username
  br
  input(type='text' placeholder='Enter Username' name='username' required='' style='margin-top: 3%')
  br
  br
  label(for="password")
    strong Create Password
  br
  input(type='text' placeholder='Enter Password' name='password' required='' style='margin-top: 3%')
  br
  br
  label(for="email")
  strong Email
  br
  input(type='text' placeholder='Enter Email' name='email' required='' style='margin-top: 3%')
  br
  br
  button(class="button" style='cursor:pointer; margin-top: 10%') Sign up
  button#cancel(class="button" style='cursor:pointer;' onclick="location.href = 'home';") Cancel
